body{
    background-color: black;
}
#gameCanvas {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: white;
}
#score {
    text-align: center;
    font-size: 50px;
    font-family: 'Antic Slab', serif;
    color: white;
}
form{
    text-align: center;
}
input{
    background-color: white;
    font-family: 'Antic Slab', serif;
    font-size: 27px;
}